
<div class='container-fluid row m-0 d-flex p-0 justify-content-center align-items-center text-white'>

	<div class='col-sm-11 col-md-10 col-lg-8 row d-flex flex-column justify-content-center flex-sm-row main'>
		
		<div class='col-sm-6 img-body d-flex align-items-center'>
			<img src="../../../assets/Images/Error/Jesus.svg">
		</div>

		<div class='col-sm-6 d-flex flex-column text-content text-center text-sm-left'>
			<p class='error mb-2'>404</p>
			<p class='error-msg mb-sm-1'>Even before we were lost, Christ found us with His love. For it is written, "I have come that ye may have life and have it more abundantly." Be found today, find Christ</p>
			<a routerLink='/'>Home</a>
		</div>
	</div>
</div>