@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.aisles-body-container
{
	min-height:80vh;
}

.header-text, .aisles-body
{
	background:rgba(0,0,0,0.1);
}

.aisles-body
{
	max-height:60vh;
	overflow-y:auto;
}

.aisles-body::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.05);
}

.aisles-body::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.25);
}

.aisles-body::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}

.aisle-name
{
	font-size:1.13em;
}

.fa-times-circle
{
	color:#fff;
	font-size:1.4em;
	cursor: pointer;
}

.em
{
	font-size:3.15em;
}

.empty-msg-container
{
	position: relative;
	top:-12vh;
}

@media(max-width:567px)
{
	.em
	{
		font-size:3em;
	}
}
