

:host
{
	width:100%;
	font-family:'Quicksand', sans-serif;
}

.header-text, .add-steward-main
{
	background:rgba(0,0,0,0.1);
}

button
{
	border-radius:3px;
	outline:none;
	border:none;
 	background:#ED2939;
 	font-size:0.9em;
 	cursor:pointer;
}

input[type='checkbox']
{
	position: relative;
	top:-4px;
}

.search-results
{
	position: absolute;
	top:calc(100% + 25px);
	background:#fff;
	 /* background:url("/assets/Images/Home/noisy_net.png"); */
	border-radius:4px;
	opacity:0;
	z-index:-9999;
	min-height:100px;
	transition:all 0.3s ease-in;
}

.search-results.active
{
	opacity:1;
	top:calc(100% + 15px);
	z-index:9999;
}

.search-results::after
{
	content:'';
	position:absolute;
	border-left:13px solid transparent;
	border-top:13px solid transparent;
	border-right:13px solid transparent;
	border-bottom:13px solid #fff;
	top:-26px;
}