
:host
{
	width:100%;
	font-family:'Quicksand', sans-serif;
}

.aisle-text, .rows
{
	background:rgba(0,0,0,0.1);
}

.rows
{
	max-height:55vh;
	overflow-y:auto;
}

.rows::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.05);
}

.rows::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.25);
}

.rows::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}

.coordinator
{
	font-size: 1.1em;
}

.elevation
{
	width:40px;
	height:40px;
	border-radius:50%;
	border:2px solid #fff;
}

.elevation p
{
	font-size:1.1em;
}

.action-icons
{
	position:fixed;
	bottom:7vh;
	right:7vw;
	cursor:pointer;
}

img
{
	width:50px;
	height:50px;
}

.search-icon img
{
	position:relative;
	left:2px;
	width:43px;
	height:45px;	
}

@media(max-width:567px)
{
	.elevation
	{
		width:35px;
		height:35px;
	}

	.elevation p
	{
		font-size:1em;
	}
}