@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:host
{
	width:100%;
}

input
{
	background:transparent;
	outline:none;
	border-color:transparent;
	color:#fff;
}

.fa-check
{
	color:#0B6623;
	cursor:pointer;
	z-index:9999;
}