@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


:host
{
	font-family:'Quicksand', sans-serif;
}

.stewards-body-container
{
	min-height:80vh;
}

.header-text, .stewards-body
{
	background:rgba(0,0,0,0.1);
}

.stewards-body
{
	max-height:55vh;
	overflow-y:auto;
}


.stewards-body::-webkit-scrollbar
{
	width:4px;
	background:rgba(0,0,0,0.05);
}

.stewards-body::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,0.25);
}

.stewards-body::-webkit-scrollbar-track
{
	background:rgba(0,0,0,0.01);
}

.circle
{
	width:30px;
	height:30px;
	border-radius:50%;
	border:1.5px solid #fff;
}

.fa-times
{
	color:#fff;
}


.empty-msg-container
{
	position: relative;
	top:-12vh;
}


.em
{
	font-size:3.15em;
}



@media(max-width:567px)
{
	.em
	{
		font-size:3em;
	}
}
