 
<div class='d-flex flex-column text-white'>
	
	<div class='header-text p-3 mb-3'>
		Add Aisles for the service
	</div>

	<div class='add-aisle-main p-3'>
		
		<form [formGroup]="aisleForm" (ngSubmit)='addAisle(aisleForm)'>
			<div class='form-group mb-4'>
				<input type="text" formControlName="name" class='form-control' placeholder="Aisle Name" readonly>
			</div>
			<div class='form-group mb-4'>
				<input type="text" name="rows" formControlName='rows' class='form-control' placeholder="Number of rows" readonly>
			</div>
			<div class='form-group mb-4'>
				<input type="text" formControlName="coordinator" class='form-control' placeholder="Aisle Coordinator">
			</div>
			<div class='form-group'>
				<button type="submit" class='p-2 text-white' [disabled]='aisleForm.invalid'>Add</button>
			</div>
		</form>
	</div>
</div>