 
:host
{
	height:100%;
}

.sidebar-body
{
	height:100%;
	background:rgba(0,0,0,0.09);
	font-family:'Quicksand', sans-serif;
}

.sidebar-main
{
	position:relative;
	top:-1vh;
}

li.active
{
 	background:#ED2939;
 	border-radius:4px;
 	text-align:center;
}

li
{
	transition:all 0.3s ease-in;
}

a
{
	color:#fff;
	cursor:pointer;
}

a:hover
{
	text-decoration: none;
}

