@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container-fluid
{
 	position:relative;
 	min-height:100vh;
 	background:url("/assets/Images/Home/noisy_net.png");
}

.sidebar-container
{
 	position:fixed;
	height:100%;
}

div.navtoggle
{
	position: absolute;
 	top:3vh;
    left:3vh;
	cursor:pointer;
	padding:10px 0;
	width:19px;
	z-index:9999;
}

div.navtoggle span, div.navtoggle span:after, div.navtoggle span:before
{
	position:absolute;
	display: block;
	height:2px;
	background: #fff;
}

div.navtoggle span
{
	width:100%;
}

div.navtoggle span:after, div.navtoggle span:before
{
	top:-8px;
	left:0;
	width:125%;
	content: '';
	background: #fff;
}

div.navtoggle span:before
{
	top:8px;
	width:75%;
}

.tab-body
{
	padding-top:20vh;
}

.alt-padding
{
	padding-top:14vh !important;
}

.attendance-file-parent
{
	position:fixed;
	top:calc(100vh + 100px);
	left:75vw;
	height:100px;
	width:250px;
	background:rgba(0,0,0,0.15);
	border-radius:8px 8px 0 0;
	border-bottom-color:transparent;
	transition:top 0.5s ease-out;
}

.attendance-file-parent.active
{
	top:calc(100vh - 100px);
}

@media(max-width:991px)
{
	.sidebar-container
	{
		position:absolute;
		left:-50%;
		width:50% !important;
		z-index:999;
		background:url("/assets/Images/Home/noisy_net.png");
		transition:left 0.5s ease-out;
	}

	.sidebar-container.active
	{
		left:0%;
	}

	.attendance-file-parent
	{
		left:calc(100vw - 260px);
	}

	.attendance-file-parent.active
	{
		top:calc(100vh - 110px);
	}
}

@media(max-width:576px)
{
	.sidebar-container
	{
		left:-75%;
		width:75% !important;
	}

	.search-parent
	{
		top:26vh;
	}

	.search-container button
	{
		bottom:4vh;
		right:5.5vw;
	}
}
