
<div class='container-fluid'>
	
	<div class='navtoggle d-lg-none' (click)='toggleNav()'>
		<span></span>
	</div>

	<div class='row d-flex justify-content-center justify-content-lg-start' style='height:100%'>
		
		<div class='col-lg-2 p-0 sidebar-container' [class.active]='showNav'>
			<app-sidebar (changeTab)='changeTab($event)'></app-sidebar>
		</div>

		<div class='offset-lg-4'></div>
		<div class='col-11 col-md-8 col-lg-5 tab-body' [class.alt-padding]='tabs.postings'>
			<app-add-aisle *ngIf="tabs.addAisles"></app-add-aisle>
			<app-view-aisle *ngIf='tabs.viewAisles'></app-view-aisle>
			<app-add-steward *ngIf='tabs.addSteward'></app-add-steward>
			<app-view-stewards *ngIf='tabs.viewStewards'></app-view-stewards>
			<app-get-cracking *ngIf='tabs.getCracking' (postings)='togglePostings()'></app-get-cracking>
			<app-postings *ngIf='tabs.postings'></app-postings>
		</div>
	</div>
</div>